body{
    overflow: hidden;

}
#preloader{
    top  :0;
    left  : 0;
    right  : 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    background: #fff;
}
#status{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    background-image: url(Spinner-1s-200px.gif);
}